<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>

  <link rel="stylesheet" href="index.css">

  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>

  <title>Bubblz</title>

  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    .material-icons {
      color: #FFFFFF;
    }
    
    .material-icons:hover {
      color: #88ff88;
    }

    .icon-holder {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div:hover > i {
      cursor: pointer;
    }

    .video-container:hover .bottom {
      position: absolute;
      display: flex;
      justify-content: space-around;
      bottom: 0px;
      left: 0px;
      margin-right: 5px;
      width: 300px;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }
    .video-container:not(:hover) .bottom {
      display: none;
    }


    .video-container {
      position: relative;
    }

    video {
      width: 300px;
      height:100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div>
    <button text="Share screen" onclick="shareScreen()">Share Screen</button>
    <select name="microphone" id="microphone-select">
    </select>
    <select name="camera" id="camera-select">
    </select>
  </div>

  <div id='flexContainer'>
    <div id="mainPanel">
      <div class="panelHeader">
        <h1>Current Room</h1>
        <h2 id='main-label'></h2>
      </div>

      <div id="mainVideoContainer"></div>
    </div>

    <div id="panelDivider"></div>

    <div id="breakoutPanel">
      <div class="panelHeader">
        Breakout Rooms
        <button type="button" onclick="createNewRoom()"> add new room </button>
      </div>

      <div id="roomContainer"></div>
    </div>
  </div>
</body>
</html>
