<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    video {
      width: 300px;
      height:100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div>
    <select name="microphone" id="microphone-select">
    </select>
    <select name="camera" id="camera-select">
    </select>
  </div>
  <div id="video-grid"></div>
  <div id="room-1-wrapper" class="video-grid">
    <div>
      <h1>Room 1</h1>
      <button id='move-1'>Join Room 1</button></div>
    <div id="room-1-videos"></div>
  </div>
  <div id="room-2-wrapper" class="video-grid">
    <div>
      <h1>Room 2</h1>
      <button id='move-2'>Join Room 2</button>
    </div>
    <div id="room-2-videos"></div>
  </div><div id="room-3-wrapper" class="video-grid">
    <div>
      <h1>Room 3</h1>
      <button id='move-3'>Join Room 3</button>
    </div>
    <div id="room-3-videos"></div>
  </div>
</body>
</html>
