<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>

  <link rel="stylesheet" href="index.css">

  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>

  <title>Zoomer</title>

  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    .video-container:hover .mute-button {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }

    .video-container:not(:hover) .mute-button {
      display: none;
    }

    .video-container:hover .deafen-button {
      position: absolute;
      bottom: 5px;
      left: 100px;
    }

    .video-container:not(:hover) .deafen-button {
      display: none;
    }

    .video-container {
      position: relative;
    }

    video {
      width: 300px;
      height:100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div>
    <button text="Share screen" onclick="shareScreen()">Share Screen</button>
    <select name="microphone" id="microphone-select">
    </select>
    <select name="camera" id="camera-select">
    </select>
  </div>

  <div id='flexContainer'>
    <div id="mainPanel">
      <div class="panelHeader">
        <h1>Current Room</h1>
        <h2 id='main-label'></h2>
      </div>

      <div id="mainVideoContainer"></div>
    </div>

    <div id="panelDivider"></div>

    <div id="breakoutPanel">
      <div class="panelHeader">
        Breakout Rooms
        <button type="button" onclick="addNewRoom()"> add new room </button>
      </div>

      <div id="roomContainer">
        <div class="room" id="room-1">
          <div class="roomHeader">
            <h2>Room 1</h2>
          </div>
          <div class="roomVideos" id='room-1-videos'></div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
