<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    .video-container:hover .mute-button {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }

    .video-container:not(:hover) .mute-button {
      display: none;
    }

    .video-container:hover .deafen-button {
      position: absolute;
      bottom: 5px;
      left: 100px;
    }

    .video-container:not(:hover) .deafen-button {
      display: none;
    }

    .video-container {
      position: relative;
    }

    video {
      width: 300px;
      height:100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div>
    <button text="Share screen" onclick="shareScreen()">Share Screen</button>
    <select name="microphone" id="microphone-select">
    </select>
    <select name="camera" id="camera-select">
    </select>
  </div>
  <div id='main-grid'>
    <div>
      <h1>Main Room</h1>
      <h2 id='main-label'></h2>
    </div>
    <div id='main-videos'></div>
  </div>

  <div id="rooms-grid"></div>
    <div id="room-1-wrapper" class="video-grid">
      <div>
        <h2>Room 1</h2>
        <button id='move-1'>Join Room 1</button>
      </div>
      <div id="room-1-videos"></div>
    </div>

    <div id="room-2-wrapper" class="video-grid">
      <div>
        <h2>Room 2</h2>
        <button id='move-2'>Join Room 2</button>
      </div>
      <div id="room-2-videos"></div>
    </div>

    <div id="room-3-wrapper" class="video-grid">
      <div>
        <h2>Room 3</h2>
        <button id='move-3'>Join Room 3</button>
      </div>
      <div id="room-3-videos"></div>
    </div>
  </div>
</body>
</html>
