@font-face {
    font-family: "OpenSans";
    src: url("./assets/Fonts/OpenSans-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#flexContainer {
    height: 100vh;
    display: flex;
}

#flexContainer > #mainPanel{
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    display: flex;
    flex-flow: column;
}

#flexContainer > #breakoutPanel{
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    flex: 1 1 0%;
}
.panelHeader{
    display: inline-block;
    font-size: 30px;
}
#breakoutPanel > button{
    display: inline-block;
}
#roomContainer{
    background-color: #f1f1f1;
    display: flex;
    flex: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-grow: 1;
}
#roomContainer > .room{
    margin: 0px;
    padding: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2;
    background: aquamarine;
}

#panelDivider {
    background-color: #989898;
    cursor: ew-resize;
    height: 100%;
    width: 4px;
}

#mainVideoContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-grow: 1;
}
.videoContainer {
    max-width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.videoContainer > img{
    width: 100%;
    height: auto;
}
.personNameHeader {
    font-family: "OpenSans";
    font-size: 16px;
    padding: 3px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;

    color: black;
}